@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Lato";
}

body {
  margin: 0;
  background-color: black;
  max-height: 100vh;
  height: 90vh;
}

#bottom {
  display: flex;
  height: 100%;
}

#header {
  background-color: #0E1C36;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  height: 70px;
}

.settings svg {
  transform: scale(2);
  padding-right: 10px;
  margin-left: 20px;
  transition: 0.2s;
}
.settings svg:hover {
  transform: scale(2.3);
  transition: 0.2s;
  cursor: pointer;
  color: #AFCBFF;
}

.logo {
  font-size: 25px;
}

#left {
  background-color: #EFF3FB;
  height: 100%;
  width: 15%;
  display: flex;
  flex-flow: column;
}
#left input[type=text] {
  font-size: 20px;
  padding-left: 10px;
  width: 94.5%;
  height: 5%;
}
#left h2 {
  margin: 5px 0;
  font-size: 18px;
  padding: 10px;
  transition: 0.2s;
}
#left h2:hover {
  padding: 10px 20px;
  background-color: #0E1C36;
  color: white;
  font-size: 22px;
  transition: 0.2s;
  cursor: pointer;
}
#left .active {
  padding: 10px 20px;
  background-color: #0E1C36;
  color: white;
  font-size: 22px;
  transition: 0.2s;
}

#right {
  background-color: white;
  width: 85%;
}

#title {
  border-bottom: 1px solid #EFF3FB;
  margin: 0 20px;
  margin-bottom: 25px;
}

.newInput input[type=text] {
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  font-size: 20px;
  border: 2px solid #AFCBFF;
  border-radius: 20px;
  background-color: #EFF3FB;
  max-width: 90%;
  width: 100%;
  justify-content: space-between;
}

.todo {
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  font-size: 20px;
  border: 2px solid #AFCBFF;
  border-radius: 20px;
  background-color: #EFF3FB;
  max-width: 90%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.todo input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 20px;
  height: 15px;
  width: 15px;
  transition: 0.2s;
}
.todo .contain {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  max-width: 90%;
}
.todo input[type=checkbox]:hover {
  transform: scale(1.4);
  transition: 0.2s;
  cursor: pointer;
}
.todo p {
  margin: 0;
  max-width: 96%;
  overflow: hidden;
}
.todo svg {
  transform: scale(1);
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #AFCBFF;
  transition: 0.2s;
}
.todo .trash {
  margin-left: 10px;
}
.todo .pencil:hover {
  color: white;
  transition: 0.2s;
  transform: scale(1.2);
  cursor: pointer;
  background-color: #EFD6AC;
}
.todo .trash:hover {
  color: white;
  transition: 0.2s;
  transform: scale(1.2);
  cursor: pointer;
  background-color: #F45D52;
}

.stickyButton {
  font-size: 20px;
  position: sticky;
  top: 7500px;
  left: 1550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.2s;
  transform: scale(0.9);
}

.stickyButton:hover {
  transition: 0.2s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #AFCBFF;
  transform: scale(1);
}

/*# sourceMappingURL=style.css.map */
