@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$trans-time: 0.2s;
$dark-blue: #0E1C36;
$light-blue: #AFCBFF;
$light-grey: #EFF3FB;
$off-red: #F45D52;

* {
    font-family: 'Lato';
}
body {
    margin: 0;
    background-color: black;
    max-height: 100vh;
    height: 90vh;
}
#bottom {
    display: flex;
    height: 100%;
}
#header {
    background-color: $dark-blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    height: 70px;
}
.settings {
    svg {
        transform: scale(2);
        padding-right: 10px;
        margin-left: 20px;
        transition: $trans-time;
    }
    svg:hover {
        transform: scale(2.3);
        transition: $trans-time;
        cursor: pointer;
        color: $light-blue;
    }
}
.logo {
    font-size: 25px;
}
#left {
    background-color: $light-grey;
    height: 100%;
    width: 15%;
    display: flex;
    flex-flow: column;
    input[type="text"] {
        font-size: 20px;
        padding-left: 10px;
        width: 94.5%;
        height: 5%;

    }
    h2 {
        // padding: 10px 20px;
        // background-color: #0E1C36;
        // color: white;
        // font-size: 22px;
        margin: 5px 0;
        font-size: 18px;
        padding: 10px;
        transition: $trans-time;
    }
    h2:hover {
        padding: 10px 20px;
        background-color: #0E1C36;
        color: white;
        font-size: 22px;
        transition: $trans-time;
        cursor: pointer;
    }
}
#right {
    background-color: white;
    width: 85%;
}
.title {
    border-bottom: 1px solid $light-grey;
    margin: 0 20px;
}
.todo {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid $light-blue;
    border-radius: 20px;
    background-color: $light-grey;
    max-width: 90%;
    justify-content: space-between;
    input[type="checkbox"] {
        transform: scale(1.2);
        margin-right: 20px;
        transition: $trans-time;

    }
    .contain {
        display: flex;
    }
    input[type="checkbox"]:hover {
        transform: scale(1.4);
        transition: $trans-time;
        cursor: pointer;
    }
    p {
        margin: 0;
    }
    svg {
        transform: scale(1);
        padding: 5px;
        border-radius: 8px;
        border: 1px solid $light-blue;
        transition: $trans-time;
    }
    svg:hover {
        color: white;
        transition: $trans-time;
        transform: scale(1.2);
        cursor: pointer;
        background-color: #F45D52;
    }
}
.stickyButton {
    font-size: 20px;
    position: sticky;
    top: 750px;
    left: 1550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 5%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: $trans-time;
    transform: scale(0.9);
}
.stickyButton:hover {
    transition: $trans-time;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    background-color: #AFCBFF;
    transform: scale(1);
}